---
title: Latest Posts
permalink: /blog/
---


<ul class="pretty-list post-list">
    {% for post in site.posts %}
    <li>
        <div class="post-description">
            <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
            <p class="post-meta">
                <time datetime="{{post.date}}">{{ post.date | date: "%B %-d, %Y" }}</time>
                <!-- <span class="dash">&mdash;</span> -->
                &nbsp;&ndash;&nbsp;
                <span class="read-time">{% include read-time.html content=post.content %} mins</span>
            </p>
            {{ post.excerpt }}
        </div>
    </li>
    {% endfor %}
</ul>
