#post {
    h2 {
        color: $primary-lighter;
        padding-top: 1em;
        &::before {
            content: "##";
        }

        a {
            color: $primary-lighter;
        }
    }

    h3 {
        color: $primary-lighter;
        padding-top: 0.5em;
        &::before {
            content: "###";
        }

        a {
            color: $primary-lighter;
        }
    }

    table {
        border-collapse: collapse;
        margin-bottom: 1rem;
        thead {
            border-bottom: 0.125em solid $dark-ish;
        }

        th, td {
            padding-left: 0.5em;
            &:first-child {
                padding-left: 0em;
            }
        }
    }
}

blockquote {
    background: $dark-purple;
    border-left: 0.25em solid $primary-lighter;
    padding: 0.5em;
    padding-left: 0.75em;
    border-radius: 0.25rem;

    footer {
        font-style: italic;
        padding-left: 2em;

        &::before {
            content: "—";
            padding-right: 0.5em;
        }
    }
}

.footnote {
    color: $link;

    &::before {
        content: "[";
    }

    &::after {
        content: "]";
    }
    padding-left: 0.25em;
}

.footnotes {
    border-top: 0.125rem solid $dark-ish;
    padding: 0;
    margin-top: 2rem;
    font-size: 0.9em;

    color: $dark-ish;

    & > ol {
        display: table;
        counter-reset: list;
        margin: 0;
        padding: 0;
        // padding-top: 1rem;
        // padding-right: 1rem;
        border-spacing: 0 1rem;

        & > li {
            list-style: none;
            display: table-row;

            & > p {
                margin-bottom: 0;
                padding: 0.25em;
            }

            &:target {
                background: $dark-purple;
                border-radius: 0.25rem;
            }

            &::before {
                display: table-cell;
                padding-right: 1rem;
                padding-left: 1rem;

                color: $link;
                counter-increment: list;
                content: "[" counter(list) "]";
            }
        }

    }
}

.reversefootnote {
    // font-family: $monospace;
    // make it superscript
    top: -.5em;
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

/* CODE BLOCKS */
code {
    font-family: $monospace;
    font-size: 0.75em;
}
