html {
    font-size: 16px;
    // This fixes the page jumping because of the scrollbar (dis)appearing
    // width: 100vw;
    // overflow-x: hidden;
}

body {
    // responsive font size
    @include screen-m {
        font-size: 125%;
    }

    // make it full height
    min-height: 100vh;

    // fancy container!
    display: flex;
    flex-direction: column;

    & > main {
        // center page content
        max-width: $total-width;
        margin: auto;
        padding-bottom: $gutter-width;
        padding-top: $gutter-width;

        // flex!
        width: 100%;
        // flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include screen-m {
            padding: $gutter-width;
        }
        @include screen-l {
            flex-direction: row;
            align-items: flex-start;
        }

        & > article {
            max-width: $main-width;
            width: 100%;
            margin-bottom: $gutter-width;
            @include screen-l {
                flex: 2 2 $main-width-min;
                margin-bottom: 0;
                min-width: $main-width-min;
            }
            padding: $gutter-width;
        }

        & > aside {
            display: flex;
            flex-direction: column;

            max-width: $main-width;
            width: 100%;

            @include screen-l {
                flex: 1 1 $sidebar-width-min;
                margin-left: $gutter-width;
                max-width: $sidebar-width;
                min-width: $sidebar-width-min;

            }

            & > section {
                margin-bottom: $gutter-width;
                padding: $gutter-width;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

#header-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    @include screen-m {
        flex-direction: row;
        align-items: center;
    }

    @include screen-m {
        max-width: $main-width + 2*$gutter-width;
        margin: auto;
        padding: 0 $gutter-width;
    }

    @include screen-l {
        max-width: $total-width;
    }

    #header-main-column {
        display: flex;
        justify-content: center;
        align-items: center;
        @include screen-l {
            flex: 2 2 $main-width-min;
            max-width: $main-width;
            min-width: $main-width-min;
        }

        .title {
            flex: 1 1 auto;

            p {
                display: none;
                @include screen-m {
                    display: block;
                }
            }
        }
    }

    #header-aside-column {
        display: flex;
        justify-content: center;
        align-items: center;

        // for the mobile menu
        display: none;
        @include screen-m {
            display: flex;
        }

        @include screen-l {
            flex: 1 1 $sidebar-width-min;
            max-width: $sidebar-width;
            min-width: $sidebar-width-min;

            margin-left: $gutter-width;
        }
    }

    #hamburger {
        flex: 0 0 auto;
        margin: 1rem 1rem 1rem 0;
        padding: 0.5rem;

        @include screen-m {
            display: none;
        }

        %hamburger-bar-shared {
            background: #fafafa;
            width: 2.25rem;
            height: 0.25rem;
            transition: all 0.5s ease;
        }

        & > .top-bar {
            @extend %hamburger-bar-shared;
        }

        & > .middle-bar {
            @extend %hamburger-bar-shared;
            margin: 0.5rem 0;
        }

        & > .bottom-bar {
            @extend %hamburger-bar-shared;
        }
    }

    &.active {
        #header-aside-column {
            display: flex;
        }

        #hamburger {
            .top-bar {
                transform: translateY(0.75rem) rotate(45deg);
            }

            .middle-bar {
                opacity: 0;
            }

            .bottom-bar {
                transform: translateY(-0.75rem) rotate(-45deg);
            }
        }
    }
}

/* UTILITY CLASSES */
.flex-spacer {
    flex: 1 0 0;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
