// fallback fonts
$main-font-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$monospace-fallback: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// fonts
// $main-font: "Alegreya Sans", $main-font-fallback;
$main-font: Alegreya, $main-font-fallback;
// $main-font: "PT Serif", $main-font-fallback;
$monospace: "Fira Code", $monospace-fallback;

//colours
$light: #fafafa;
$dark-ish: #ccc;
$dark: #222;
$primary: hsl(255, 25%, 30%);
$primary-lighter: hsl(255, 10%, 70%);
$link: hsl(210, 100%, 35%);
$link-hover: hsl(210, 100%, 25%);

// layout sizes
$main-width: 48rem;
$main-width-min: 40rem;
$sidebar-width: 22rem;
$sidebar-width-min: 18rem;
$gutter-width: 2rem;
$total-width: $main-width + $sidebar-width + $gutter-width*3;
$total-width-min: $main-width-min + $sidebar-width-min + $gutter-width*3;

// Media query mixins
// @mixin screen-s {
//     @media (max-width:39.9rem) {
//         @content;
//     }
// }

@mixin screen-m {
    @media (min-width: $main-width-min) {
        @content;
    }
}
@mixin screen-l {
    @media (min-width: $total-width-min) {
        @content;
    }
}
// @mixin screen-xl {
//     @media (min-width: $main-width + 2 * $sidebar-width) {
//         @content;
//     }
// }


// font-size mixins
// @mixin font-size-s {
//     font-size: 0.875rem;
//     @include screen-m {
//         font-size: 1rem;
//     }
// }
//
// @mixin font-size-m {
//     font-size: 1.125rem;
//     @include screen-m {
//         font-size: 1.25rem;
//     }
// }
//
// @mixin font-size-l {
//     font-size: 1.375rem;
//     @include screen-m {
//         font-size: 1.5rem;
//     }
// }
//
// @mixin font-size-xl {
//     font-size: 1.625rem;
//     @include screen-m {
//         font-size: 1.75rem;
//     }
// }
//
// @mixin font-size-xxl {
//     font-size: 1.875rem;
//     @include screen-m {
//         font-size: 2rem;
//     }
// }
