// TODO:
//   - better post list layout
//   - make fancy (semi) full-screen home page
// @import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400');
// @import url('https://fonts.googleapis.com/css?family=Fira+Code:400,700');
// @import url('https://fonts.googleapis.com/css?family=Alegreya:400&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Fira+Sans:300');

@import "variables";
@import "styling";
@import "layout";

html {
    font-size: 16px;
    @include screen-m {
        // font-size: 125%;
        // font-size: 20px;
    }
}

article {
    // font-size: 18px;
    @include screen-m {
        font-size: 125%;
        // font-size: 22px;
    }
}

body {
    background: $light;
    font-family: $main-font;
    // font-family: $monospace;
    color: $dark;

    // @include font-size-m;
}

h1 {
    font-size: 1.75em;
    // @include font-size-xl;
}

h2 {
    font-size: 1.5em;
    // @include font-size-l;
}

h3 {
    font-size: 1.25em;
}
// h3,
h4,
h5,
h6 {
    font-size: 1em;
    // @include font-size-m;
}

a {
    color: $link;

    &:hover {
        color: $link-hover;
    }
}

// code blocks

// shared
code {
    font-family: $monospace;
    // @include font-size-s;
    // font-size: 1rem;
    font-size: 0.8em;
}

%code-block {
    background: #fafafa;
}
// inline
code.highlighter-rouge {
    @extend %code-block;
    color: hsla(0, 50%, 50%, 1);
    border-radius: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;

}
// block level
div.highlighter-rouge pre {
    @extend %code-block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ddd;
    line-height: 1.2;
}

.footnote {
    &::before {
        content: "[";
    }

    &::after {
        content: "]";
    }
    padding-left: 0.25em;
}

.footnotes {
    border-top: 1px solid $dark;
    padding-top: 1rem;

    & > ol > li {
        padding-left: 1rem;
        padding-right: 1rem;

        &:target {
            background: mix($primary, $light, 20%);
            border-radius: 0.25rem;
        }
        // list-style: none;
        // & > li {
        //     &::before {
        //         content: "[";
        //     }
        //
        //     &::after {
        //         content: "]";
        //     }
        // }

    }
}

.reversefootnote {
    // font-family: $monospace;
    // make it superscript
    top: -.5em;
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

// body.alternate {
//     background: $primary-foreground;
//     color: $primary-backgound;
//
//     #main-header {
//         background: hsl(270, 100%, 80%);
//         background: hsl(120, 50%, 50%);
//         color: $primary-foreground;
//         box-shadow: 0 0 1rem 0.5rem #000;
//     }
// }

#main-header {
    background: $primary;
    font-family: $monospace;
    color: $light;

    h1 {
        font-size: 2rem;
        line-height: 1.2;
        text-align: center;
        max-width: $sidebar-width;

        a {
            color: inherit;

            &:hover {
                color: inherit;
            }
        }
    }

    .title p {
        margin: 0;
        padding-top: 0.5rem;
        text-align: center;
        // font-size: 1.125rem;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        a {
            // margin: 0.5rem 1rem;
            margin: 0.5rem 0.5rem 0.5rem 0;
            padding: 0 0.5rem;
            height: 2rem;
            line-height: 2rem;
        }

    }

    .page-links {
        white-space: nowrap;
        // display: flex;
        // flex-direction: row;
        // align-items: flex-start;

        font-size: 1rem;
        @include screen-m {
            font-size: 1.25rem;
        }

        // margin: 2rem;
        margin: 0;
        @include screen-m {
            margin: 2rem;
        }

        a {
            color: inherit;
            text-decoration: underline;
            // margin: 0.5rem 0.5rem 0.5rem 0;
            // padding: 0 0.5rem;

            &:hover {
                color: $primary;
                background: $light;
            }

            &::before {
                /* content: "\2515\2501"; */
                content: ">>";
                padding-right: 0.5ch;
                display: inline-block;
                text-decoration: none;
            }
        }
    }

    .icon-links {
        margin: 1rem 1rem 2rem;
        @include screen-m {
            margin: 2rem;
        }

        // display: flex;
        // flex-direction: row;

        @include screen-m {
            flex-direction: column;
        }

        @include screen-l {
            flex-direction: row;
        }

        a {
            margin-left: 0.75rem;
            margin-right: 0.75rem;
            display: inline-block;

            &:hover {
                text-decoration: none;
            }
        }

        svg {
            height: 100%;
            width: auto;

            path {
                fill: $light;
            }
        }
    }

    .copyright,
    .flex-spacer {
        display: none;

        @include screen-l {
            display: block;
        }
    }
}

.pretty-list {
    display: table;
    margin: 0;
    padding-left: 0;
    // padding-left: 1rem;
    // border-collapse: separate;
    // border-spacing: 0 2rem;
    li {
        list-style: none;
        display: table-row;
        margin-bottom: 1rem;
    }

    li::before {
        content: ">>";
        display: table-cell;
        padding-right: 1ch;
        font-family: $monospace;
        // @include font-size-m;

    }

    h2 {
        margin: 0;
        // font-family: $main-font;
        font-family: $monospace;
        // @include font-size-m;
        font-size: 1em;
    }

    .post-meta {
        font-style: italic;
    }

    .post-description {
        display: table-cell;
        padding-bottom: 2rem;
    }
}

footer {
    text-align: center;
    // padding: 1rem 0;
    padding-top: 1rem;
    border-top: 1px solid $dark;
    margin-top: 2rem;
    // get rids of the extra spacing at the bottom
    & > :last-child {
        margin-bottom: 0;
    }
}

article {
    header {
        text-align: center;
        margin-bottom: 2rem;

        h1 {
            // padding-left: 2rem;
            // padding-right: 2rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $dark;
            // font-weight: normal;
            // font-family: 'Alegreya';
            // This ties the article together with the rest of the design a bit more
            // @include font-size-xl;
            font-family: $monospace;
            // font-family: $main-font;

            // make it match the "Regular Digressions" logo
            line-height: 1.2;
            font-size: 1.5rem;
            @include screen-m {
                font-size: 1.75rem;
            }
        }

        p {
            margin: 0;
            font-style: italic;
            // font-size: 0.85em;
            // This makes the preferred wrapping points on tiny screens better
            // & > * {
            // display: inline-block;
            // }
        }
    }
}

// #content-wrapper {
// font-family: $sans-serif;
// font-size: 20px;
// @include screen-m {
//     font-size: 125%;
//     // font-size: 20px;
// }
// p {
//     text-indent: 4rem;
// }
// }

// for extra spacing around an &mdash;
.dash {
    padding: 0 1rem;
}
/*
*  Layout
*/
html {
    // This fixes the page jumping because of the scrollbar (dis)appearing
    width: 100vw;
    overflow-x: hidden;
}

body {
    max-width: $main-width + $sidebar-width;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
}

article {
    flex: 1 1 auto;
    max-width: $main-width;
    width: 100%;
    padding: 2rem;
    @include screen-m {
        padding: 2rem 4rem;
    }
    display: flex;
    flex-direction: column;
}

#content-wrapper {
    flex: 1 0 auto;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-spacer {
    flex: 1 1 auto;
}

.header-content {
    max-width: $main-width;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        /* flex: 1 1 auto; */
        max-width: 16rem;
        margin: 2rem;
    }

    .copyright {
        border-top: 1px solid #f0f0f0;
        align-self: stretch;
        margin: 0 2rem;
        padding-top: 1rem;
        font-size: 0.75rem;
        text-align: center;
    }
}

@include screen-m {
    .header-content {
        flex-direction: row;
    }

    #main-header .page-links {
        flex-direction: column;
    }
}

@include screen-l {
    main {
        padding-left: $sidebar-width;
    }

    #main-header {
        position: fixed;
        width: $sidebar-width;
        height: 100vh;

        .page-links {
            flex-direction: column;
        }
    }

    .header-content {
        flex-direction: column;
    }
}
// This centers the text column on the page with the sidebar to the left,
// once the page is wide enough to accomodate this
@include screen-xl {
    main {
        padding-right: $sidebar-width;
    }

    body {
        max-width: $main-width + 2 * $sidebar-width;
    }
}
